* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-size: 64.5%;
}

header {
  background-color: rgb(247, 244, 244);
  /* background-color: black; */
  padding: 1rem 0;
}
header h1 {
  font-size: 3rem;
  font-family: sans-serif;
  background: linear-gradient(rgb(223, 124, 140), rgb(67, 142, 227));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}
